<nav id="secondary-navigation" class="remove">
	<ol aria-label="secondary" role="list" class="secondary-nav-list">
		<!-- 1 -->
		<li>
			<div onclick="toggle()">
				<h3 class="sub-heading">1. Skupovi &nbsp
						<img src="{{ url_for('static', filename='media/down-arrow.svg') }}" class="down-arrow">	
						<img src="{{ url_for('static', filename='media/up-arrow.svg') }}" class="up-arrow remove">	
				</h3>
			</div>	
			<div class="dropdown-content remove">
				<ul class="secondary-nav-list text-center" role="list">
					<li><a href="{{ url_for('lection', lection_id=1) }}">Lekcija 1 - Skup</a></li>
					<li><a href="{{ url_for('lection', lection_id=2) }}">Lekcija 2 - Skupovi brojeva</a></li>
					<li><a href="{{ url_for('lection', lection_id=3) }}">Lekcija 3 - Operacije sa skupovima</a></li>	
					<li><a href="{{ url_for('lection', lection_id=4) }}">Lekcija 4 - Intervali</a></li>	
					<li><a href="{{ url_for('lection', lection_id=5) }}">Lekcija 5 - Skupovi - primjeri s mature</a></li>										
				</ul>
			</div>
		</li>
		<!-- 2 -->
		<li>
			<div onclick="toggle()">
				<h3 class="sub-heading">2. Osnovni račun &nbsp
						<img src="{{ url_for('static', filename='media/down-arrow.svg') }}" class="down-arrow">	
						<img src="{{ url_for('static', filename='media/up-arrow.svg') }}" class="up-arrow remove">	
				</h3>
			</div>	
			<div class="dropdown-content remove">
				<ul class="secondary-nav-list text-center" role="list">						
				</ul>
			</div>
		</li>
		<!-- 3 -->
		<li>
			<div onclick="toggle()">
				<h3 class="sub-heading">3. Algebarski izrazi &nbsp
						<img src="{{ url_for('static', filename='media/down-arrow.svg') }}" class="down-arrow">	
						<img src="{{ url_for('static', filename='media/up-arrow.svg') }}" class="up-arrow remove">	
				</h3>
			</div>	
			<div class="dropdown-content remove">					
				</ul>
			</div>
		</li>
		<!-- 4 -->
		<li>
			<div onclick="toggle()">
				<h3 class="sub-heading">4. Potencije &nbsp
						<img src="{{ url_for('static', filename='media/down-arrow.svg') }}" class="down-arrow">	
						<img src="{{ url_for('static', filename='media/up-arrow.svg') }}" class="up-arrow remove">	
				</h3>
			</div>	
			<div class="dropdown-content remove">
				<ul class="secondary-nav-list text-center" role="list">						
				</ul>
			</div>
		</li>
		<!-- 5 -->
		<li>
			<div onclick="toggle()">
				<h3 class="sub-heading">5. Jednadžbe &nbsp
						<img src="{{ url_for('static', filename='media/down-arrow.svg') }}" class="down-arrow">	
						<img src="{{ url_for('static', filename='media/up-arrow.svg') }}" class="up-arrow remove">	
				</h3>
			</div>	
			<div class="dropdown-content remove">
				<ul class="secondary-nav-list text-center" role="list">						
				</ul>
			</div>
		</li>
		<!-- 6 -->
		<li>
			<div onclick="toggle()">
				<h3 class="sub-heading">6. Sustavi jednadžbi &nbsp
						<img src="{{ url_for('static', filename='media/down-arrow.svg') }}" class="down-arrow">	
						<img src="{{ url_for('static', filename='media/up-arrow.svg') }}" class="up-arrow remove">	
				</h3>
			</div>	
			<div class="dropdown-content remove">
				<ul class="secondary-nav-list text-center" role="list">						
				</ul>
			</div>
		</li>
		<!-- 7 -->
		<li>
			<div onclick="toggle()">
				<h3 class="sub-heading">7. Nejednadžbe &nbsp
						<img src="{{ url_for('static', filename='media/down-arrow.svg') }}" class="down-arrow">	
						<img src="{{ url_for('static', filename='media/up-arrow.svg') }}" class="up-arrow remove">	
				</h3>
			</div>	
			<div class="dropdown-content remove">
				<ul class="secondary-nav-list text-center" role="list">						
				</ul>
			</div>
		</li>
		<!-- 8 -->
		<li>
			<div onclick="toggle()">
				<h3 class="sub-heading">8. Nizovi &nbsp
						<img src="{{ url_for('static', filename='media/down-arrow.svg') }}" class="down-arrow">	
						<img src="{{ url_for('static', filename='media/up-arrow.svg') }}" class="up-arrow remove">	
				</h3>
			</div>	
			<div class="dropdown-content remove">
				<ul class="secondary-nav-list text-center" role="list">						
				</ul>
			</div>
		</li>
		<!-- 9 -->
		<li>
			<div onclick="toggle()">
				<h3 class="sub-heading">9. Vjerojatnost &nbsp
						<img src="{{ url_for('static', filename='media/down-arrow.svg') }}" class="down-arrow">	
						<img src="{{ url_for('static', filename='media/up-arrow.svg') }}" class="up-arrow remove">	
				</h3>
			</div>	
			<div class="dropdown-content remove">
				<ul class="secondary-nav-list text-center" role="list">						
				</ul>
			</div>
		</li>
		<!-- 10 -->
		<li>
			<div onclick="toggle()">
				<h3 class="sub-heading">10. Geometrija &nbsp
						<img src="{{ url_for('static', filename='media/down-arrow.svg') }}" class="down-arrow">	
						<img src="{{ url_for('static', filename='media/up-arrow.svg') }}" class="up-arrow remove">	
				</h3>
			</div>	
			<div class="dropdown-content remove">
				<ul class="secondary-nav-list text-center" role="list">						
				</ul>
			</div>
		</li>
		<!-- 11 -->
		<li>
			<div onclick="toggle()">
				<h3 class="sub-heading">11. Stereometrija &nbsp
						<img src="{{ url_for('static', filename='media/down-arrow.svg') }}" class="down-arrow">	
						<img src="{{ url_for('static', filename='media/up-arrow.svg') }}" class="up-arrow remove">	
				</h3>
			</div>	
			<div class="dropdown-content remove">
				<ul class="secondary-nav-list text-center" role="list">						
				</ul>
			</div>
		</li>
		<!-- 12 -->
		<li>
			<div onclick="toggle()">
				<h3 class="sub-heading">12. Prikaz podataka &nbsp
						<img src="{{ url_for('static', filename='media/down-arrow.svg') }}" class="down-arrow">	
						<img src="{{ url_for('static', filename='media/up-arrow.svg') }}" class="up-arrow remove">	
				</h3>
			</div>	
			<div class="dropdown-content remove"style="display:none;">
				<ul class="secondary-nav-list text-center" role="list">						
				</ul>
			</div>
		</li>
		<!-- 13 -->
		<li>
			<div onclick="toggle()">
				<h3 class="sub-heading">13. Uvod u koordinatni sustav &nbsp
						<img src="{{ url_for('static', filename='media/down-arrow.svg') }}" class="down-arrow">	
						<img src="{{ url_for('static', filename='media/up-arrow.svg') }}" class="up-arrow remove">	
				</h3>
			</div>	
			<div class="dropdown-content remove">
				<ul class="secondary-nav-list text-center" role="list">							
				</ul>
			</div>
		</li>
		<!-- 14 -->
		<li>
			<div onclick="toggle()">
				<h3 class="sub-heading">14. Funkcije &nbsp
						<img src="{{ url_for('static', filename='media/down-arrow.svg') }}" class="down-arrow">	
						<img src="{{ url_for('static', filename='media/up-arrow.svg') }}" class="up-arrow remove">	
				</h3>
			</div>	
			<div class="dropdown-content remove">
				<ul class="secondary-nav-list text-center" role="list">						
				</ul>
			</div>
		</li>
		<!-- 15 -->
		<li>
			<div onclick="toggle()">
				<h3 class="sub-heading">15. Vektori &nbsp
						<img src="{{ url_for('static', filename='media/down-arrow.svg') }}" class="down-arrow">	
						<img src="{{ url_for('static', filename='media/up-arrow.svg') }}" class="up-arrow remove">	
				</h3>
			</div>	
			<div class="dropdown-content remove">
				<ul class="secondary-nav-list text-center" role="list">						
				</ul>
			</div>
		</li>
	</ol>
</nav>